{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'reviews/css/reviews.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'reviews/js/star-rating.js' %}"></script>
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Write a review for {{ product.name }}</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'write_review' product.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                            {{ field | as_crispy_field }}
                            {% if field.name == 'rating' %}
                            <span class='text-black'>Rating: </span>
                            <i class="star-rating star-1 fas fa-star fa-lg" data-star="1"></i>
                            <i class="star-rating star-2 fas fa-star fa-lg" data-star="2"></i>
                            <i class="star-rating star-3 fas fa-star fa-lg" data-star="3"></i>
                            <i class="star-rating star-4 fas fa-star fa-lg" data-star="4"></i>
                            <i class="star-rating star-5 fas fa-star fa-lg" data-star="5"></i>
                            {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <a class="btn btn-outline-black rounded-0" href="">Cancel</a>
                        <button class="btn btn-black rounded-0" type="submit">Submit Review</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}