{% extends "base.html" %}
{% load static %}

{% block content %}
<h2 class="about-home-title text-center">What is the E-Book Club?</h2>
<div class="row">
    <div class="col-4"><h3>Access to the best books from different genres at a reduced price</h3></div>
    <div class="col-4"><h3>Save money by subscribing to more than one book club</h3></div>
    <div class="col-4"><h3>Get access to the heaps of the latest titles</h3></div>
    <div class="col-4"><p>Subscribe to the book clubs from your favourite genre to get access to our team's pick for the best new book every month at a lower price than purchasing the book.</p></div>
    <div class="col-4"><p>If you are interested in more than one genre you can save more money by  subscribing to more than one book club. If you have an account you can view the full pricing details <a href="#"><u>here.</u></a></p></div>
    <div class="col-4"><p>You can also purchase tons of great books at reasonable prices, curated by our resident team of bookworms and updated weekly</p></div>
</div>
{% endblock %}
