{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row mx-5 my-5">
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="{% url 'fiction_clubs' %}" class="home-carousel-image">
      <img src="{{ MEDIA_URL }}images/carousel-fiction.jpg" class="d-block w-100" alt="...">
      </a>
      <!-- bootstrap carousel component -->
      <div class="carousel-caption d-none d-md-block">
        <h5>Fiction Book Clubs</h5>
        <p>This month's best in crime, science-fiction and more...</p>
      </div>
    </div>
    <div class="carousel-item">
      <a href="{% url 'non_fiction_clubs' %}" class="home-carousel-image">
      <img src="{{ MEDIA_URL }}images/carousel-non-fiction.jpg" class="d-block w-100" alt="...">
      </a>
      <div class="carousel-caption d-none d-md-block">
        <h5>Non-Fiction Book Clubs</h5>
        <p>The top picks for biographies and nature books amongst others...</p>
      </div>
    </div>
    <div class="carousel-item">
      <a href="{% url 'child_teen_clubs' %}" class="home-carousel-image">
      <img src="{{ MEDIA_URL }}images/carousel-children.jpg" class="d-block w-100" alt="...">
      </a>  
      <div class="carousel-caption d-none d-md-block">
        <h5>Child/Teen Book Clubs</h5>
        <p>The best books this month for your kids whatever age they may be...</p>
      </div>
    </div>
    <div class="carousel-item">
      <a href="{% url 'products' %}" class="home-carousel-image">
      <img src="{{ MEDIA_URL }}images/carousel-bestsellers.jpg" class="d-block w-100" alt="...">
      </a>  
      <div class="carousel-caption d-none d-md-block">
        <h5>Bestsellers</h5>
        <p>Browse our collection of best selling titles</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

<div class="row">
  <div class="col text-center"><h2>Latest Books</h2></div>
</div>
  <div class="row">
    {% for product in products %}
    {% if product.image %}      <div class="col-sm-6 col-md-3 text-center">
                                <a href="{% url 'product_detail' product.id %}" class="home-page-latest-books-link">
                                    <img class="img-fluid" src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.name }}">
                                </a>
                                </div>
                                {% else %}
                                <div class="col-sm-6 col-md-3 text-center">
                                <a href="{% url 'product_detail' product.id %}" class="home-page-latest-books-link">
                                    <img class="img-fluid" src="{{ MEDIA_URL }} images/noimage.png" alt="{{ product.name }}">
                                </a>
                                </div>
                                {% endif %}
    {% endfor %}
    </div>

 



<h2 class="about-home-title text-center">What is the E-Book Club?</h2>
<div class="row">
    <div class="col-sm-12 col-md-4">
      <h3>Access to the best books from different genres at a reduced price</h3>
      <p>Subscribe to the book clubs from your favourite genre to get access to our team's pick 
          for the best new book every month at a lower price than purchasing the book.</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <h3>Save money by subscribing to more than one book club</h3>
      <p>If you are interested in more than one genre you can save more money by subscribing to more than one book club. It's only €2 for your first 2 subscriptions, €1.75 for the next 2 and just €1.50 for every subsequent subscription!</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <h3>Get access to the heaps of the latest titles</h3>
      <p>You can also purchase tons of great books at reasonable prices, 
          curated by our resident team of bookworms and updated weekly</p>
    </div>
</div>

    
{% endblock %}
