{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">My Profile</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 mb-5">
                <p>Default Billing Information</p>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-black rounded-0 text-uppercase float-right">Update Information</button>
                </form>
            </div>
            <div class="col-12 col-lg-6 mb-5">
                <p>Order History</p>
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>€{{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 mb-3">
                <p>Book Club Subscriptions</p>
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Book Club</th>
                                <th>Subscribed this Month</th>
                                <th>Subscription to Continue Next Month</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for book_club in book_clubs %}
                                <tr>
                                    <td>
                                        {{ book_club.friendly_name }}
                                    </td>
                                    <td>{% if book_club in book_club_subscriptions_this_month %}yes{% else %}no{% endif %}</td>
                                    <td>{% if book_club in book_club_subscriptions_next_month %}yes{% else %}no{% endif %}</td>
                                    {% if book_club not in book_club_subscriptions_this_month %}
                                    <td>
                                    {% if book_club.id in subscriptions_in_bag %}
                                    <button class="remove-sub btn btn-black rounded-0 text-uppercase" id='{{ book_club.id }}'>Remove from Bag</button>   
                                    {% else %}  
                                    <form class="form" action="{% url 'add_sub_to_bag'  book_club.id %}" method="POST">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="col-12">
                                                <input type="submit" class="btn btn-black rounded-0 text-uppercase" value="Add to Bag">
                                            </div>
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        </div>
                                    </form>
                                    </td>
                                    {% endif %}
                                    {% else %}
                                    
                                    <td>
                                        {% if book_club in book_club_subscriptions_next_month %}
                                    <form class="form" action="{% url 'unsubscribe_next_month'  book_club.id %}" method="POST">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="col-12">
                                                <input type="submit" class="btn btn-black rounded-0 text-uppercase" value="Unsubscribe">
                                            </div>
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        </div>
                                    </form>
                                    {% else %}
                                    <form class="form" action="{% url 'resubscribe_next_month'  book_club.id %}" method="POST">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="col-12">
                                                <input type="submit" class="btn btn-black rounded-0 text-uppercase" value="Resubscribe">
                                            </div>
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        </div>
                                    </form>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
        <script>
jQuery(document).ready(function () {console.log('script ready')
            jQuery(".remove-sub").click(function () {
                var csrfToken = "{{ csrf_token }}";
                var itemId = jQuery(this).attr("id");
                console.log(itemId);
                var url = `/bag/remove_sub/${itemId}/`;
                var data = { csrfmiddlewaretoken: csrfToken };
                jQuery.post(url, data).done(function () {
                    location.reload();
                });
            });
        });
</script>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}