:root {
    --facebook-blue: #3b5998;
    --twitter-blue: #00acee;
    --instagram-purple: #833AB4;
    --youtube-red: #FF0000;
    --pinterest-red: #c8232c;
}

.overlay {
    position: absolute;
    height: 100vh;
    width: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(.1, .1, .1, .1);
}

html {
    height: 100%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    padding-top: 10em !important;
}

.main-page-content {
    padding-bottom: 4em;
}

a>div {
    color: black;
}

.btn-black {
    background: black;
    color: white;
}

.text-black {
    color: black;
}

/* header --------------------------------------------------------------------------------------*/
header {
    background: slategrey;
}

/* footer --------------------------------------------------------------------------------------*/

footer {
    background: slategrey;
}

.fa-facebook-square:hover {
    cursor: pointer;
    color: var(--facebook-blue);
}

.fa-twitter-square:hover {
    cursor: pointer;
    color: var(--twitter-blue);
}

.fa-instagram-square:hover {
    cursor: pointer;
    color: var(--instagram-purple);
}

.fa-youtube-square:hover {
    cursor: pointer;
    color: var(--youtube-red);
}

.fa-pinterest-square:hover {
    cursor: pointer;
    color: var(--pinterest-red);
}

/* home page --------------------------------------------------------- */

.home-carousel-image {
    cursor: pointer;
}

.home-page-latest-books-link {
    cursor: pointer;
}

/* messages ---------------------------------------------------------- */
.message-container {
    position: fixed;
    z-index: 999999999;
    top: 72px;
    right: 17px;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.bag-notification-wrapper {
    max-height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Reviews section */

.review-header {
    position: relative;
}

.review-button {
    position: absolute;
    right: 2em;
}