<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#">
                Best-Sellers
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="fiction-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fiction
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fiction-dropdown">
                <a href="" class="dropdown-item ">All Titles</a>
                <a href="" class="dropdown-item ">Action/Adventure</a>
                <a href="" class="dropdown-item ">Comedy</a>
                <a href="" class="dropdown-item">Crime</a>
                <a href="" class="dropdown-item">Horror</a>
                <a href="" class="dropdown-item ">Romance</a>
                <a href="" class="dropdown-item">Science-Fiction</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="non-fiction-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Non-Fiction
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="non-fiction-dropdown">
                <a href="" class="dropdown-item ">All Titles</a>
                <a href="" class="dropdown-item ">Biographies</a>
                <a href="" class="dropdown-item ">History/Politics</a>
                <a href="" class="dropdown-item">Hobbies/How to</a>
                <a href="" class="dropdown-item">Science/Nature</a>
                <a href="" class="dropdown-item">Self-Help/Spirituality</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="child-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Child/Teen
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="child-dropdown">
                <a href="" class="dropdown-item ">All Titles</a>
                <a href="" class="dropdown-item ">3-5 Years</a>
                <a href="" class="dropdown-item ">6-8 Years</a>
                <a href="" class="dropdown-item">9-12 Years</a>
                <a href="" class="dropdown-item">12-15 Years</a>
                <a href="" class="dropdown-item">Young Adult</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="book-clubs-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Book Clubs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="book-clubs-dropdown">
                <a href="" class="dropdown-item ">Fiction Book Clubs</a>
                <a href="" class="dropdown-item ">Non-Fiction Book Clubs</a>
                <a href="" class="dropdown-item ">Child/Teen Book Clubs</a>
            </div>
        </li>
    </ul>
</div>