{% extends "base.html" %}
{% load static %}

{% block extra_js %}
    <script src="{% static 'scripts/form-submission-ajax.js' %}"></script>
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="form-loading-overlay">
        <div id="form-loading-text">
            <!-- loading animation for when forms are being submitted -->
            <br><br><br><h3>Please Wait... </h3><div style="display: inline-block" id="form-loading-icon"><i class="fas fa-spinner"></i></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Edit Book Clubs</h2>
                <h5 class="text-muted">Edit Books of the month</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                    
                    {% for form in forms %}
                    <!-- using the for loop to create a unique id for each for so that they can 
                    be submitted individually -->
                    <form action = "edit" method="POST" id = "form{{forloop.counter}}">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field|as_crispy_field }}
                    {% endfor %}
                    </form>
                    {% endfor %}
                    <div class="text-right">
                        <a class="btn btn-outline-black rounded-0" href="{% url 'home' %}">Cancel</a>
                        <button class="btn btn-black rounded-0" id="form-submission-button">Save Books</button>
                    </div>
                
            </div>            
        </div>
    </div>

    <div class="d-none category-count">{{ category_count }}</div>
{% endblock %}